
body
{

	background-image: url(sablier.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}


p {
	color: white;
  text-align: center;
  font-size: 180px;
  margin-top: 80px;
}

button{


	width: 200px;
	margin-left: 15%;
}